<div class="box-container">
  <div class="box" *ngFor="let popular of menu$ |async">
    <!-- <a href="#" class="fas fa-heart"></a> -->
    <div class="image">
      <img [src]="popular.image" alt="" />
      <!-- <img src="assets/img/food-1.png" alt="" /> -->
    </div>
    <div class="content">
      <h3>{{popular.name}}</h3>
      <div class="stars">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star-half-alt"></i>
        <!-- <span> (50) </span> -->
      </div>
      <div class="price">{{popular.price | currency}}<span>{{(popular.price)+50 |currency}}</span></div>
      <!-- <a href="#" class="btn">add to cart</a> -->
    </div>
  </div>
</div>
