<div>
  <h2>El palacio de los mariscos</h2>
  <hr />
  <div class="flex">
    <div *ngFor="let arr of data.productos.ventas" class="flex flex-row p-b-15">
      <div class="flex flex-row">
        <br>
        <!-- img -->
        <img
          class="img-fluid p-r-5"
          [src]="arr.image"
          alt=""
        />
        <div>
          <!-- Nombre -->
          <p>{{arr.name}}</p>
          <!-- Cantidad -->
          <p>1 pz</p>
          <!-- Total -->
          <p>{{ arr.price | currency }}</p>
        </div>
      </div>
    </div>

    <!-- Subtotal -->
    <div>
      <p>
        <strong>{{ data.price | currency }}</strong>
      </p>
    </div>

    <!-- Pagar -->
    <button mat-raised-button color="accent" (click)="pagar()">Pagar</button>
    <button mat-button color="warn" (click)="cancelar()">Cancelar</button>
  </div>
</div>
