<div class="">
  <h2>Corte de Caja</h2>

  <!-- Header -->
  <div class="headers">
    <p>#</p>
    <p>Contado</p>
    <p>Calculado</p>
    <p>Diferencia</p>
  </div>

  <!-- Columns -->
  <form class="" [formGroup]="miFormulario">
    <div class="columns">
      <div class="info_columns">
        <p>Efectivo</p>
      </div>
      <div class="form_group">
        <!-- Contado -->
        <input type="number"  formControlName="contado"/>
        <!-- Calculado -->
        <input type="number" formControlName="calculado"/>
        <!-- Diferencia -->
        <input type="number" formControlName="diferencia"/>
      </div>
    </div>

    <div class="total">
      Total: {{miFormulario.value.calculado | currency}}
    </div>

    <div class="p-t-10">
      <button mat-raised-button color="accent" (click)="save()">Guardar</button>
    </div>

  </form>
</div>
