.layout {
  background-image: url(./../../../assets/img/joe-iurato-4825454_640.jpg);
  background-size: cover;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  
}

/* 
}

.btn-login {
  background-color: #f05f44;
  border-color: #f05f44;
}

.content__login {
  background-color: white;
  border-radius: 5px;
  width: 30vw;
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;

  form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    div {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      input{
          width: 25vw;
          height: 5vh;
          border-radius: 5px;
          border-color: #e2e2e2;
      }
    }
  }
}
*/