<div class="cont">
  <!-- 1 -->
  <section class="container-sales">
    <div class="">
      <mat-form-field appearance="fill">
        <mat-label>Mesa</mat-label>
        <mat-select [(ngModel)]="selectedValue" name="food">
          <mat-option *ngFor="let food of foods" [value]="food.value">
            {{ food.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="container-content-sales">
      <!-- Cabecera -->
      <div class="content-header">
        <p>Producto</p>
        <p>Cantidad</p>
        <p>Precio</p>
        <p>Subtotal</p>
      </div>

      <!-- Content -->
      <div *ngFor="let menuClick of clickedRows" class="content-data">
        <div>
          <p class="text-bold">{{menuClick.name}}</p>
          <img
            class="img-product"
            [src]="menuClick.image"
            alt="img producto"
          />
        </div>
        <div>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Cantidad</mat-label>
            <input matInput placeholder="" value="1" />
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Precio</mat-label>
            <input matInput placeholder="" class="test" [value]="menuClick.price" />
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Subtotal</mat-label>
            <input matInput placeholder="" [value]="menuClick.price" />
          </mat-form-field>
        </div>

      </div>


      <!-- Pay -->
      <div class="content-header bg-gray">
        <div>
          <p>Total de articulos</p>
          <p class="amount">{{total}}</p>
        </div>
        <div>
          <p>Total a pagar</p>
          <!-- <code></code> -->
          <!-- <p class="money">{{test() | currency}}</p> -->
          <p class="money">{{subTotal}}</p>
        </div>
        <div class="py">
          <button class="">Cancelar</button>
        </div>
      </div>
      <div class="content-header">
        <div class="py">
          <button class="button-green" (click)="payMenu()">Generar orden</button>
        </div>
      </div>
    </div>
  </section>
  <!-- 2 -->
  <section class="products">
    <h3 class="">Productos</h3>

    <mat-form-field appearance="standard">
      <mat-label>Filter</mat-label>
      <input matInput placeholder="Ex. ium" #input>
    </mat-form-field>

    <div class="table-container">
      <table
      mat-table
      [dataSource]="dataSource"
      class="mat-elevation-z8 demo-table"
    >
      <!-- Position Column -->
      <ng-container matColumnDef="imagen">
        <th mat-header-cell *matHeaderCellDef>Imagen</th>
        <img
          class="image-product"
          *matCellDef="let element"
          [src]="element.image"
          alt="img producto"
          alt=""
        />
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef>Nombre</th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="desc">
        <th mat-header-cell *matHeaderCellDef>Descripcion</th>
        <td mat-cell *matCellDef="let element">{{ element.description }}</td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="costo">
        <th mat-header-cell *matHeaderCellDef>Costo</th>
        <td mat-cell *matCellDef="let element">{{ element.price }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr
        mat-row
        (click)="clickedRows.push(row)"
        (click)="test(row)"
        *matRowDef="let row; columns: displayedColumns"
      ></tr>
    </table>
    </div>
  </section>
</div>
