.cont {
  max-width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  column-gap: 25px;
}

.container-sales {
  display: grid;
  grid-template-columns: 1fr;
}

.container-content-sales {
  display: flex;
  // grid-template-columns: max-content;
  flex-direction: column;
  max-width: 100%;

  .content-header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .content-data {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 5px 0;

    .example-full-width{
      width: 80px;
    }

    .text-bold {
      font-weight: bold;
      color: var(--dark);
    }
  }
}

.img-product {
  border-radius: 10px;
  width: 100px;
  height: 100px;
}

.money {
  color: var(--gold);
  font-weight: bold;
  font-size: 24px;
}

.amount {
  font-weight: bold;
  font-size: 24px;
  color: var(--dark);
}

.bg-gray {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  align-items: center;
}

.py {
  padding: 50px 0;
}

.sm {
  grid-template-columns: 1fr 1fr 1fr;
}

section .products{
  max-width: 400px;
}



.image-product{
  width: 100px;
  height: 100px;
}

.table-container{
  height: 400px;
  overflow: auto;
}
