.status{
    background: #4ea8de;
    width: 80px;
    border-radius: 15px;
    color: white;
    display: flex;
    // align-items: center;
    justify-content: center;
}

.status-red{
  background: #cb0d27;
  width: 80px;
  border-radius: 15px;
  color: white;
  display: flex;
  // align-items: center;
  justify-content: center;
}
