:root {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  --dark: #03045e;
  --gray: #00b4d8;
  --menu--back: #90e0ef;
}

body {
  margin: 0;
  padding: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

$max: 50;
$offset: 5;
$unit: 'px'; // Feel free to change the unit.



.debug {
  border: solid red;
}

html,
body {
  height: 100%;
}

.flex-row{
  display: flex;
  flex-flow: row wrap;
}
.flex-column{
  display: flex;
  flex-flow: column wrap;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
  cursor: pointer;
}

.active{
  background-color: var(--gray);
}



/* CSS */
.button-green {
  appearance: button;
  backface-visibility: hidden;
  background-color: var(--dark);
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Ubuntu,sans-serif;
  font-size: 100%;
  height: 44px;
  line-height: 1.15;
  margin: 12px 0 0;
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all .2s,box-shadow .08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  :disabled {
    cursor: default;
  }
  :focus {
    box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
  }
}

.button-red {
  appearance: button;
  backface-visibility: hidden;
  background-color: #eb0a42;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Ubuntu,sans-serif;
  font-size: 100%;
  height: 44px;
  line-height: 1.15;
  margin: 12px 0 0;
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all .2s,box-shadow .08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  :disabled {
    cursor: default;
  }
  :focus {
    box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
  }
}


.button-gray {
  appearance: button;
  backface-visibility: hidden;
  background-color: #a0a0a0;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Ubuntu,sans-serif;
  font-size: 100%;
  height: 44px;
  line-height: 1.15;
  margin: 12px 0 0;
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all .2s,box-shadow .08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  :disabled {
    cursor: default;
  }
  :focus {
    box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
  }
}

//MENU
.menu__content {
  margin: 20px 100px;
  h2 {
    font-weight: bold;
    font-size: 30px;
  }
}

//cards
.menu__cards__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
  row-gap: 30px;

  .cards {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    img {
      max-width: 200px;
    }

    .cards__info {
      display: flex;
      flex-direction: column;
      padding: 10px;

      h3 {
        font-weight: bold;
      }

      p {
        color: gray;
      }

      .precio {
        font-weight: bold;
        font-size: 20px;
        color: #ffba08;
      }
    }
  }
}

@media (min-width: 768px) {
  .menu__cards__content{
    grid-template-columns: 1fr;
  }
}