<h1>Inventario</h1>

<div class="add-product">
    <button class="button-green" routerLink="new" type="button">Agregar nuevo producto</button>
</div>


<div class="flex-row">
    <div *ngFor="let inventory of (inventario$ | async)">
        <div class="card">
            <h2>{{inventory.name}}</h2>
            <p>Marca: {{inventory.brand}}</p>
            <p>Descripcion: {{inventory.description}}</p>
            <div class="card__amount">
                <p>Cantidad: {{inventory.stock}}</p>
            </div>
            <button type="button" [routerLink]="['product', inventory.id]" class="button-green">Editar</button>
            <button type="button" (click)="deleteProduct(inventory.id)" class="button-red">Eliminar</button>
        </div>
    </div>
</div>

