
// CARD
.card{
    width: 22vw;
    height: 50vh;
    margin: 15px;
    padding: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }



  //card inventario
  .card-inventary{
    max-width: 250px;
    color: var(--dark);
    strong{
      font-size: 36px;
    }
  }

  .card_home{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 25px;
    width: 150px;
    height: 170px;
    padding-left: 10px;
    justify-content: space-around;
    margin: 0 10px;

    .card_title{
      color: var(--gris);
      font-size: .85rem;
    }

    .card_subtitle{
      font-size: 1.5rem;
      font-weight: bold;
    }
  }
