<div class="m-x-15">
    <h2 class="bold">Dashboard</h2>
    <div class="flex-row">
        <div class="card_home flex-column">
            <i class='bx bx-package bx-lg icon'></i>
            <span class="card_title">Total de productos en inventario</span>
            <p class="card_subtitle">{{sizeInventary}}</p>
        </div>
        <div class="card_home flex-column">
            <i class='bx bx-food-menu bx-lg icon'></i>
            <span class="card_title">Total de productos en menu</span>
            <p class="card_subtitle">{{sizeInventaryMenu}}</p>
        </div>
        <div class="card_home flex-column">
            <i class='bx bx-bowl-hot bx-lg icon'></i>
            <span class="card_title">Total de Ordenes</span>
            <p class="card_subtitle">{{sizeOrders}}</p>
        </div>
        <div class="card_home flex-column">
            <i class='bx bx-money bx-lg icon'></i>
            <span class="card_title">Ventas</span>
            <p class="card_subtitle">$850</p>
        </div>
    </div>
</div>
